* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'League Spartan', sans-serif;
}

body {
    font-size: 15px;

    background-image: url('./images//bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 0vw 0vh, 30vw 10vh;
    
}

.container {
    width: 90%;
    min-height: 100vh;
    max-width: 1100px;
    margin: 1rem auto;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    gap: 3rem
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    color: hsl(300, 43%, 22%);
    line-height: 1.2;
}


.intro-text h1 {
    width: 65%;
    font-size: 56px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 1rem;
}


.intro-text p {
    width: 75%;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
    color: hsl(303, 10%, 53%);
}

.rating-box {
    width: 455px;
    margin: 1rem 0;
    margin-left: auto;
    padding: 0.8rem 0;

    display: flex;
    align-items: center;

    border-radius: 5px;
    background-color: hsl(300, 24%, 96%)
}

.rating-box .rating-stars {
    width: 40%;
    text-align: center;
}


.rating-box:nth-child(1) {
    margin-right: 5rem;
}

.rating-box:nth-child(2) {
    margin-right: 3rem;
}

.rating-box .rating-stars img { 
    width: 18px;
    margin-right: 3px;
}

.rating-box p {
    color: hsl(300, 43%, 22%);
    font-weight: 800;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.review-card {
    width: 350px;
    height: 234px;
    padding: 1.5rem;

    border-radius: 8px;
    background-color: hsl(300, 43%, 22%);
}

.review-card .avtar-container {
    display: flex;
    align-items: center;
}


.review-card .avtar-container img {
    width: 40px;
    border-radius: 50%;
}

.review-card .avtar-details {
    margin: 20px;
}

.review-card .avtar-details h5 {
    color: hsl(300, 24%, 96%);
    margin-bottom: 5px;
}

.review-card .avtar-details span {
    color: hsl(333, 80%, 67%);
    opacity: 0.8;
}

.review-card p {
    color: hsl(300, 24%, 96%);
    line-height: 1.5;
    margin-top: 10px;
}

.review-card:nth-child(2) {
    margin-top: 2rem;
}

.review-card:nth-child(3) {
    margin-top: 3rem;
}


@media (max-width: 375px) {
        
    .intro-container {
        flex-direction: column;
    }

    .intro-text h1 {
        width: 100%;
        text-align: center;
    }


    .intro-text p {
        width: 100%;
        text-align: center;
    }

    .intro-rating {
        width: 100%;
    }

    .intro-rating .rating-box {
        width: 100%;
        margin: 1rem 0;
        flex-direction: column;
        gap: 0.5rem;
    }


    .intro-rating .rating-box img {
        width: 18px;
    }

    .intro-rating .rating-box p {
        font-size: 17px;
    }

    .reviews-container {
        flex-direction: column;
    }

    .reviews-container .review-card {
        width: 100%;
        margin: 1rem 0;
    } 
} 